@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html, body {
    height: 100%;
    font-size: 16px;
    font-weight: 300;
}

.gradient {
    background: #FDE582;
    background: linear-gradient(120deg, rgb(253, 229, 130) 0%, rgb(253, 229, 130) 0%, #FBB072 110%)
}

.nav-item {
    margin-right: 10px;
    margin-top: 10px;
}

.nav-item:hover {
    font-weight: bold;
}

.fas.fa-home {
    color: #FFFFE7;
    font-size: 35px;
}

.navbar {
    border-bottom: 5px solid #FFFFE7;
}

.page-header {
    margin-top: 4rem;
    height: auto;
    font-size: 30px;
    background-image: url(/images/house22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px;
    background-color: #000;
}

/* .bgimg {
    height: 100vh;
    width: 100%;
    z-index: -100;
} */

.name {
    font-family: 'Abril Fatface', cursive;
    font-size: 90px;
    display: block;
    white-space: no-wrap;
    margin-top: 110px;
}

.top {
    margin-bottom: 90px;
}

.housepic {
    height: 350px;
    width: 550px;
}

.carousel-item {
    border: 1px solid white;
}

.special {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: #000;
}

.special2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #000;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bitcoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    margin-top: 20px;
    background-color: #FFFFE7;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-fluid {
    height: 75px;
}

.countdownhead {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}

.headings {
    display: flex;
    margin-right: 10px;
}

.timedisplay {
    height: 80px;
    width: 250px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
}

.day, .hour, .minute, .second {
    margin-bottom: 0;
}

.timerp {
    margin: 0 12px;
    font-weight: bold;
}

.listitem:hover {
    color: rgb(25, 47, 123);
    cursor: pointer;
    font-weight: bold;
}

.displayprice {
    height: 80px;
    width: 250px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 32px;
    font-weight: 300;
}

.fab.fa-bitcoin {
    font-size: 25px;
}

.contact {
    height: 1000px;
}

.frame {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

.bottomimage {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    height: 200px;
}

.page-footer {
    border-top: 5px solid #FFFFE7;
}

.fab:hover {
    cursor: pointer;
}

@media (max-width:670px) {
    .navbar-toggler {
        margin-right: 10px;
    }
    .name {
        font-size: 100px;
    }
    .housepic {
        height: 250px;
        width: 350px;
        margin-top: 30px;
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    .special {
        font-size: 40px;
    }
    .house2 {
        margin-top: 30px;
    }
    .frame {
        width: 400px;
    }
    .page-footer {
        margin-top: -230px;
    }
    .flex-center {
        font-size: 10px;
    }
}